name: Build and push latest image if needed

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: [ubuntu-18.04]
    steps:
      - uses: actions/checkout@v2
      - name: Build antrea-operator Docker image
        run: make docker-build
