on:
  issue_comment:
    types: [created]

jobs:
  pr_commented:
    # This job only runs for pull request comments
    name: PR comment
    if: ${{ github.event.issue.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Comment on PR #${{ github.event}}"
          echo "Comment on PR #${{ github.event.issue.number }}"
          echo "Comment on PR #${{ github.event.payload.comment.body}}"